[Unit]
Description=secret
Before=getty.target
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target
IgnoreOnIsolate=yes

[Service]
ExecStartPre=/bin/chown root:tty /dev/tty1
ExecStartPre=/bin/chmod 620 /dev/tty1
ExecStartPre=/usr/bin/clear
ExecStart=/lib/login
KillMode=process  # should this be replaced?
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
Alias=getty.target.wants/getty@tty1.service
WantedBy=getty.target
